extends ../layout
block content
    div.wrapper
        include ../includes/_usermenu
        h1 Todos 
        .todos-overview
            if(locals.active)
                .todo-active.todolist
                    h2 Active todos
                    each todo in active
                        .todo-small
                            p 
                                strong 
                                    =todo.title
                            -let href = "/todos/"+todo.id+"/edit/"
                            a(href=href) Edit
                            form(action="/todos/todo", method="POST")
                                input(type="hidden", name="id", value=todo.id)
                                button(type="submit") Change status
                            p Start: 
                                strong 
                                    =todo.startDate.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", year:"2-digit"})
                            p.description 
                                =todo.description
                            if(!todo.done) 
                                p Status: 
                                    strong(style="color:red;") Not done
                            else 
                                p Status: 
                                    strong(style="color:limegreen;") Done
                            p Deadline: 
                                strong 
                                    =todo.deadline.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", hour:"2-digit", minute:"2-digit"})
            if(locals.overdue)
                .todo-dead.todolist
                    h2 Overdue todos
                    each todo in overdue
                        .todo-small
                            p 
                                strong 
                                    =todo.title
                            -let href = "/todos/"+todo.id+"/edit/"
                            a(href=href) Edit
                            form(action="/todos/todo", method="POST")
                                input(type="hidden", name="id", value=todo.id)
                                button(type="submit") Change status
                            p Start: 
                                strong 
                                    =todo.startDate.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", year:"2-digit"})
                            p.description 
                                =todo.description
                            if(!todo.done) 
                                p Status: 
                                    strong(style="color:red;") Not done
                            else 
                                p Status: 
                                    strong(style="color:limegreen;") Done
                            p Deadline: 
                                strong 
                                    =todo.deadline.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", hour:"2-digit", minute:"2-digit"})
            if(locals.future)
                .todo-future.todolist
                    h2 Future todos
                    each todo in future
                        .todo-small
                            p 
                                strong 
                                    =todo.title
                            -let href = "/todos/"+todo.id+"/edit/"
                            a(href=href) Edit
                            form(action="/todos/todo", method="POST")
                                input(type="hidden", name="id", value=todo.id)
                                button(type="submit") Change status
                            p Start: 
                                strong 
                                    =todo.startDate.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", year:"2-digit"})
                            p.description 
                                =todo.description
                            if(!todo.done) 
                                p Status: 
                                    strong(style="color:red;") Not done
                            else 
                                p Status: 
                                    strong(style="color:limegreen;") Done
                            p Deadline: 
                                strong 
                                    =todo.deadline.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", hour:"2-digit", minute:"2-digit"})
            if(locals.done)
                .todo-future.todolist
                    h2 Done
                    each todo in done
                        .todo-small
                            p 
                                strong 
                                    =todo.title
                            -let href = "todos/edit/:id" + todo.id
                            a(href=href) Edit
                            form(action="/todos/todo", method="POST")
                                input(type="hidden", name="id", value=todo.id)
                                button(type="submit") Change status
                            p Start: 
                                strong 
                                    =todo.startDate.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", year:"2-digit"})
                            p.description 
                                =todo.description
                            if(!todo.done) 
                                p Status: 
                                    strong(style="color:red;") Not done
                            else 
                                p Status: 
                                    strong(style="color:limegreen;") Done
                            p Deadline: 
                                strong 
                                    =todo.deadline.toLocaleString("da-dk", {day:"2-digit", month:"2-digit", hour:"2-digit", minute:"2-digit"})